* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: overlay;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5800ff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5800ff;
}
